body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
p,
span,
tr,
td,
input,
button,
textarea,
td,
th {
  padding: 0;
  margin: 0;
}

img,
video {
  border: 0 none;
  vertical-align: top;
}
ul {
  padding: 0;
  list-style: none;
}
* {
  outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  appearance: none;
}
em,
strong,
i {
  font-style: normal;
}
.van-notify {
  font-size: 32px !important;
  line-height: normal !important;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

//动画效果
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active, 2.1.8 版本以下 */ {
  opacity: 0;
}

/* 设置过渡，只过渡maxheight */
.slide-enter-active,
.slide-leave-active {
  transition: bottom 0.4s, opacity 0.4s;
}
/* 使其动作enter后和leave前，高度为0 */
.slide-enter,
.slide-leave-to {
  bottom: -45px !important;
  opacity: 0;
}
.container {
  padding-top: $navBarHight;
  max-width: 750px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: $bgColor;
  color: #fff;
  padding-bottom: calc(20px + constant(safe-area-inset-bottom));
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
}

.van-dialog--round-button .van-dialog__content .van-dialog__message {
  font-size: 20px;
  color: #fa3860;
  text-shadow: 0px 0px 2px #fff;
  font-weight: 700;
}

.van-dialog--round-button .van-dialog__header {
  color: #fff;
  font-size: 14px;
}
.van-dialog--round-button .van-action-bar .van-dialog__confirm,
.van-dialog--round-button .van-action-bar .van-dialog__cancel {
  position: relative;
  color: #83280e;
  background: linear-gradient(360deg, #f9b809 0%, #fad302 100%);
  box-shadow: 0px 1px 0 0px rgba(255, 255, 255, 0.5) inset,
    0px -3px 1px 0px #f57813 inset;
}
