:root {
  --main-bg-color: #101213 !important;
  --team-color: #1164ff !important;
  --live-info-wrapper-color: #101213 !important;
  --el-color-primary: #1164ff !important;
  --el-color-danger: #f63a22 !important;
  --live-info-title: #fff !important;
  --live-info-time: #fff !important;

  --tagColor-1: #ba24ff !important;
  --tagColor-2: #13b6ff !important;
  --tagColor-3: #626a7c !important;
  --tagColor-4: #1dd680 !important;

  --live-introduce-wrapper-bg: #1b1d1f !important;
  --live-introduce-wrapper-color: #fff !important;
}
