:root {
  --van-nav-bar-background-color: #230f41;
  --van-nav-bar-title-text-color: #fff;
  --van-dialog-font-size: 14px;
  --van-dialog-background-color: linear-gradient(
    180deg,
    #af6ff5,
    #773ce7 50%
  ) !important;
  --van-action-bar-background-color: transparent !important;
  --van-popup-close-icon-color: #fff;
  --van-button-primary-color: #83280e;
}
