$mainColor: var(--main-color);
$bgColor: var(--main-color);
$secBgColor: var(--sec-main-bg-color);
$red: #ff1414;
$pink: #e65d6e;
$green: #00b429;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

$navBarHight: var(--van-nav-bar-height);
$padding: 16px;
